# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE
.idea/
.vscode/
.DS_Store

# Sensitive config
config.py

# Database
*.db

# Logs
*.log

# Others
esp32/resources/
esp32/example/
esp_output/
esp32/src/ink-display-420C
esp_render_4in2.py
smoke_test.py